<div>

    <div class="list_div" *ngFor="let lists of myList">
            <div *ngIf="lists.checked !== true">
                {{ lists.task }}
                {{ lists.date}}
                <input *ngIf="onClick" type="checkbox" (click)="lists.checked = true" />
            </div>
        </div>
        
        <button *ngIf="onClick" (click)="show = !show; clicked()">New Task</button>
        <button *ngIf="onClick && undoCheckAppear()" (click)="undoCheck()">Undo</button>
        
    
    <form *ngIf="show === true">
        <label>task</label>
        <input  #newItem type="text" required/>
        <label>date</label>
        <input #newDate type="date" required/>
        <button (keyup.enter)="addToList(newItem.value, newDate.value); newItem.value = ''" (click)="addToList(newItem.value, newDate.value)"
            (click)="show = false; notclicked()">Add Task</button>
        <button (click)="show = false; notclicked()">Cancel</button>
    </form>
</div>